:root
{
  --arrow-tangent: 0.5;

  --border-color: rgba(255, 255, 255, 0);
  --main-color1: rgba(22, 47, 113, 1);
  --main-color2: rgba(43, 66, 181, 1);
  --main-color3: linear-gradient(to right, var(--main-color1), var(--main-color2) 10%, var(--main-color2) 90%, var(--main-color1));
  --main-color4: rgba(190, 206, 212, 1);
  --main-color5: linear-gradient(to right, var(--main-color1), var(--main-color2) 10%);

  --font-family: 'ABeeZee', sans-serif;
  --font-color: #FFFFFF;
  --font-xsmall: 14px;
  --font-small: 20px;
  --font-large: 26px;
  --font-xlarge: 50px;
  --font-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000;

  --fast-speed: 0.5s;
  --slow-speed: 1.0s;
  --xslow-speed: calc(var(--slow-speed) * 2);
}

body
{
  position: relative;
  margin: 0 auto;
  color: var(--font-color);
  font-family: var(--font-family);
  font-weight: bold;
/*  text-shadow: var(--font-shadow); */
  text-align: center;
  overflow: hidden;
}

.xslow { transition: all var(--xslow-speed) ease-out; }
.slow { transition: all var(--slow-speed) ease-out; }
.fast { transition: all var(--fast-speed) ease-in; }

.colorB { background: var(--border-color); }
.color1 { background: var(--main-color1); }
.color2 { background: var(--main-color2); }
.color3 { background: var(--main-color3); }
.color4 { background: var(--main-color4); }
.color5 { background: var(--main-color5); }

.title
{
  position: relative;
  z-index: 100;
  margin: var(--border-width) 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  opacity: 0;
}
.title.display { opacity: 1; }

.xsmall .title { font-size: var(--font-xsmall); }
.small .title { font-size: var(--font-small); }
.large .title { font-size: var(--font-large); }
.xlarge .title { font-size: var(--font-xlarge); }

.icon { display: inline-block; }

.xsmall .icon { margin: 1px 0 -1px; height: 12px; width: 12px; }
.small .icon { margin: 2px 0 -2px; height: 18px; width: 18px; }
.large .icon { margin: 4px 0 -4px; height: 26px; width: 26px; }
.xlarge .icon { margin: 6px 0 -6px; height: 46px; width: 46px; }

.icon.iTW { background: url('../icons/TW.png'); background-position: center; background-size: 100% 100%; }
.icon.iFB { background: url('../icons/FB.png'); background-position: center; background-size: 100% 100%; }
.icon.iTY { background: url('../icons/YT.png'); background-position: center; background-size: 100% 100%; }
.icon.TWC { background: url('../icons/TWC.png'); background-position: center; background-size: 100% 100%; }

.icon.GG { background: url('../icons/quaffle.png'); background-position: center; background-size: 100% 100%; background-repeat: no-repeat; }
.icon.BC { background: url('../icons/bluecard.png'); background-position: center; background-size: 85% 100%; background-repeat: no-repeat; }
.icon.YC { background: url('../icons/yellowcard.png'); background-position: center; background-size: 85% 100%; background-repeat: no-repeat; }
.icon.RC { background: url('../icons/redcard.png'); background-position: center; background-size: 85% 100%; background-repeat: no-repeat; }
.icon.DYC { background: url('../icons/doubleyellow.png'); background-position: center; background-size: 95% 100%; background-repeat: no-repeat; }

.logo { display: block; height: 100%; }

.logo.TN { background: url('../output/tournament.png'); background-position: center; background-size: 100% 100%; }
.logo.WW { background: url('../icons/willogo.png'); background-position: center; background-size: 100% 100%; }
