.logo.AUT{ background: url('../icons/AUT.png'); background-position: center; background-size: 100% 100%; }
.logo.BEL{ background: url('../icons/BEL.png'); background-position: center; background-size: 100% 100%; }
.logo.CAT{ background: url('../icons/CAT.png'); background-position: center; background-size: 100% 100%; }
.logo.FRA{ background: url('../icons/FRA.png'); background-position: center; background-size: 100% 100%; }
.logo.DEU{ background: url('../icons/DEU.png'); background-position: center; background-size: 100% 100%; }
.logo.IRE{ background: url('../icons/IRE.png'); background-position: center; background-size: 100% 100%; }
.logo.ITA{ background: url('../icons/ITA.png'); background-position: center; background-size: 100% 100%; }
.logo.NLD{ background: url('../icons/NLD.png'); background-position: center; background-size: 100% 100%; }
.logo.NOR{ background: url('../icons/NOR.png'); background-position: center; background-size: 100% 100%; }
.logo.POL{ background: url('../icons/POL.png'); background-position: center; background-size: 100% 100%; }
.logo.SVK{ background: url('../icons/SVK.png'); background-position: center; background-size: 100% 100%; }
.logo.ESP{ background: url('../icons/ESP.png'); background-position: center; background-size: 100% 100%; }
.logo.SWE{ background: url('../icons/SWE.png'); background-position: center; background-size: 100% 100%; }
.logo.TUR{ background: url('../icons/TUR.png'); background-position: center; background-size: 100% 100%; }
.logo.TUK{ background: url('../icons/TUK.png'); background-position: center; background-size: 100% 100%; }
