:root
{
  --block-height: 40px;
  --gutter-width: -4px;

/*1/4 of the width of a 1080p display */
/*if streaming in 720p, change corner-width to 320px*/
  --corner-width: 480px;
  --corner-inset: 10px;

  --width-small: calc((var(--corner-width) / 4));
/*  --width-med: calc(var(--width-small) * (2)); */
  --width-large: calc(var(--width-small) * 1.5);
}

.colorB { height: var(--block-height); }
.title { line-height: calc(var(--block-height) - var(--border-width) *2); }
.small .title { text-transform: uppercase; }

.corner
{
  position: absolute;
  top: var(--block-height);
  left: var(--corner-inset);
  width: var(--corner-width);
  border-radius: var(--border-curve);
  -webkit-clip-path: polygon(0% 0%, 0% 50%, 0% 100%, 0% 100%, 0% 50%, 0% 0%);
}
.corner.display
{
  -webkit-clip-path: polygon(0% 0%, 0% 50%, 0% 100%, 100% 100%, 100% 50%, 100% 0%);
}

.team
{
  position: absolute;
  top: 0;
  width: var(--width-small);
  bottom: 0;
}
.team1
{
  border-radius: var(--border-curve) 0 0 var(--border-curve);
  left: 0;
}
.team2
{
  right: var(--width-small);
}

.team1 .title { padding-right: calc(var(--border-width)*2); text-align: right; vertical-align: middle;}
.team2 .title { padding-left: calc(var(--border-width)*2); text-align: left; vertical-align: middle;}

.team .thumb
{
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc(var(--width-large) * 80%);
  z-index: 50;
  opacity: 0.5;
}
.team1 .thumb { left: 10px; }
.team2 .thumb { right: 10px; }

.score
{
  position: absolute;
  top: 0;
  left: var(--width-small);
  width: var(--width-small);
  bottom: 0;
}
.score .title
{
  position: absolute;
  top: 0;
}
.score1.title
{
  left: 0;
  width: 40%;
  text-align: right;
  padding-right: 5px;
}
.scoreDivider.title
{
  left: 40%;
  width: 20%;
  text-align: center;
}
.score2.title
{
  left: 60%;
  width: 40%;
  text-align: left;
  padding-left: 5px;
}

.gameTime
{
  position: absolute;
  top: 0;
  right: 0;
  width: var(--width-small);
  bottom: 0;
  border-radius: 0 var(--border-curve) var(--border-curve) 0;
}

.tournament
{
  position: absolute;
  top: 0;
  left: calc(50% - var(--match-width) / 2);
  right: calc(50% - var(--match-width) / 2);
  -webkit-clip-path: polygon(
    0%    50%,
    0%    50%,
    0%    50%,
    100%  50%,
    100%  50%,
    100%  50%
  );
}
.tournament.display
{
  -webkit-clip-path: polygon(
    calc(var(--block-height) / 2 * var(--arrow-tangent))        0%,
    0%                                                          50%,
    calc(var(--block-height) / 2 * var(--arrow-tangent))        100%,
    calc(100% - var(--block-height) / 2 * var(--arrow-tangent)) 100%,
    100%                                                        50%,
    calc(100% - var(--block-height) / 2 * var(--arrow-tangent)) 0%
  );
}
